{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
%}
<h1 align="center">Images</h1>
<ul class="list-group list-group-flush" id="images">
  {% for image in user.images %}
  <li class="list-group-item">
    {{ user.first_name }}
    <button type="button" class="close" onClick="deleteImage({{ image.id }})">
      <span aria-hidden="true">&times;</span>
    </button>
  </li>
  {% endfor %}
</ul>
<form method="POST" enctype="multipart/form-data">
  <input type="file" name="file">
  <input type="submit" value="Upload">

</form>
{% endblock %}
